<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWPbIfFd_EmTpM64bb7IX1OnKUwWnsT20</string>
	<key>GCM_SENDER_ID</key>
	<string>633553512338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sample.VenueBookingApp</string>
	<key>PROJECT_ID</key>
	<string>banquethallapp</string>
	<key>STORAGE_BUCKET</key>
	<string>banquethallapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633553512338:ios:418af088118bc878ef834b</string>
</dict>
</plist>